.todo {
    width: 60vw;
    min-height: 15vh;
    height: fit-content;
    padding: 2%;
    border-radius: 10px;
    border: 0.2pt solid;
    margin: auto;
}

.addTask {
    display: flex;
    align-items: center;
    margin-bottom: 4%;
    width: fit-content;
    cursor: pointer;
    transition-duration: 0.2s;
}

.addTask:hover {
    color: #fc5185;
    transform: scale(1.05);
}

.addTask h2 {
    font-size: 1.5rem;
}

.addTask svg {
    font-size: 2rem;
    transition-duration: 1s;
}

.addTask:hover svg {
    transform: rotate(135deg);
}

.task {
    width: 100%;
    margin: 2% 0;
    padding: 2%;
    border: 0.2pt solid rgba(0,0,0,0.1);
    border-radius: 10px;
}

.taskTitle {
    display: flex;
    align-items: center;
}

.taskTitle h3 {
    font-size: 2.2rem;
    padding-bottom: 1vh;
    margin: 0 1vw;
}

.task p {
    font-size: 1.2rem;
    margin: 1vh 0 0 3vw;
    word-wrap: break-word;
}

.invisibleTask {
    transition-duration: 0.5s;
    opacity: 0;
}

@media(max-width: 1024px) {
    .todo {
        width: 80vw;
        min-height: 15vh;
    }

    .addTask h2 {
        font-size: 2rem;
    }
    
    .addTask svg {
        font-size: 2.5rem;
    }
    
}