.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 32vw;
    background-color: #fc5185;
    color: #fff;
    overflow: hidden;
    white-space: nowrap;
    transition-duration: 0.5s;
    overflow: scroll;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;
}

.container::-webkit-scrollbar {
    display: none;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: 1.2rem;
    padding: 4% 2vw;
    border-bottom: 1pt solid #fff;
    cursor: default;
}

.header svg {
    font-size: 3.6rem;
    margin-top: 2%;
    transition-duration: 1s;
    cursor: pointer;
    transform: rotate(135deg);
    display: none;
}

.header svg:hover {
    color: #000;
}

.projectForm {
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: space-between;
    width: 80%;
    margin: 8% 0;
} 

.projectForm input {
    width: 80%;
    font-size: 1.6rem;
    text-indent: 4%;
    border: 1pt solid black;
    border-radius: 5px;
}

.projectForm button {
    align-self: flex-end;
    background: transparent;
    color: #fff;
    border: none;
    cursor: pointer;
    transition-duration: 1s;
}

.projectForm button:hover {
    transform: scale(1.1);
    color: #000;
}

.projectForm button svg {
    font-size: 3rem;
}

.projectContainer {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    word-wrap: wrap;
    font-size: 2.2rem;
    text-indent: 1vw;
    margin-top: 8%;
    transition-duration: 0.2s;
}

.projectContainer a {
    color: #fff;
}

.projectContainer a:hover {
    transform: scale(1.02);
}

.projectContainer svg {
    font-size: 2.2rem;
    margin-right: 1vw;
}

.projectContainer svg:hover {
    transform: scale(1.05);
    cursor: pointer;
}

@media(max-width: 1024px) {
    .container {
        position: absolute;
        left: 0;
        width: 80%;
        z-index: 20;
    }

    .header {
        font-size: 2.4rem;
        padding: 0 8vw;
    }

    .header svg {
        font-size: 6rem;
        display: flex;
    }
}