.footerbar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 6vh;
    font-size: 1.5rem;
    color: #fc5185;
    border-top: 1pt solid #fc5185;
}

.footerbar a {
    color: #fc5185;
}

.footerbar a svg {
    margin-top: 10px;
    margin: 0 5vw;
    font-size: 2rem;
}

.footerbar a svg:hover{
    transform: scale(1.1);
}