@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+HK:wght@500');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans HK', sans-serif;
}

body {
    min-height: 100vh;
}

a {
    color: #fc5185;
}

@media(min-width: 1600px) {
    html {
        font-size: 150%;
    }
}

@media(min-width: 800px) {
    html {
        font-size: 100%;
    }
}

@media(max-width: 450px) {
    html {
        font-size: 60%;
    }
}