.darkTodo {
    width: 60vw;
    min-height: 15vh;
    padding: 2%;
    border-radius: 10px;
    border: 0.2pt solid rgba(255,255,255,0.1);
    box-shadow: 10px 10px 5px 0px rgba(255,255,255,0.2);
}

.darkTask {
    width: 100%;
    margin: 2% 0;
    padding: 2%;
    border: 0.2pt solid rgba(255,255,255,0.1);
    border-radius: 10px;
}

.darkTask input {
    height: 3vh;
    width: 3vw;
    margin-right: 1vw;
}

.darkTask h3 {
    font-size: 2rem;
    margin: 0 2vw;
}

.darkTask p {
    font-size: 1.2rem;
    margin: 2vh 0 0 4vw;
}